@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;900&display=swap');

:root {
    --primary-color: rgb(255, 136, 0);
  }

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    width: 100%;
    padding: 2%;
    margin: 0;
    margin-top: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    place-items: center;
    background: linear-gradient(90deg,rgba(255,166,0,1)0%, rgba(255,141,0,1)100%);
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0;
    background-color: #FFFBEA;
    border-radius: 20px;
    box-shadow: 0px 0px 30px  rgba(59, 59, 59   , 0.75);
}


.form-image {
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding:  1rem ;
    
    /* background-color: yellowgreen; */
    
}

.image-logo {
    width: 30%;
    display: flex;
    margin-left: 75%;
    height: auto;
    margin-bottom: 5vh;
}


.image-farm{
    display: flex;
    justify-content: center;
}
.form-image .image-farm img {
    width: 70%;
}
.form-image img {
    width: 70%;
}


.form {
    background-color: rgba(57, 132, 44, 0.4);
    width: 45% ;
    height: 90vh;
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 1% 10%;
    box-shadow: 5px 9px 30px rgba(59, 59, 59, 0.75);
}

input {
    display: block;
    width: 100%;
    height: auto;
    padding: 0.75rem;
    border: 1px solid rgba(227, 127, 42, 1);
    border-radius: 0.8rem;
    background-color: transparent;
    outline: none;
}

.input-group select {
    width: 96%;
    padding: 0 2%;
    height: 2.8rem;
    background-color: transparent;
    border: 1px solid rgba(227, 127, 42, 1);
    border-radius: 0.8rem;
}


input:focus{
    border: #134e06 1px solid;
}

input::placeholder {
    color: rgba(19, 94, 6, 1);
}

.select_uf:focus {
    border: #134e06 1px solid;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: rgba(19, 94, 6, 1);
}

.input-group {
    margin: 1rem 0;
}

.btn {
    padding: 0.75rem;
    height: 3.2rem;
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    color: #F2F2F2;
    text-align: center;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 6px 6px 23px -3px #00000088;
}

.btns-group a {
    color: #F2F2F2;
}

.width-50 {
    width: 50%;
}

.ml-auto {
    margin-left: auto;
}

.btn:hover {
    box-shadow: 12px 7px 15px 0px rgba(0,0,0,0.75);
    border: solid 1px rgba(0,0,0,0.75);
    /* box-shadow: 3px 3px 15px #134e06; */
    /* border: solid 1px #207b0c; */
    /* transform: scale(8.2);
    transition: all 1s; */
}
.text-center {
    text-align: start;
    color: #135e06;
}

.btns-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.form-step {
    display: none;
    transform-origin: top;
    animation: animate 0.5s;
}

.form-step-active {
    display: block;
}

.progressbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    counter-reset: step;
    margin: 1rem 0 1rem;
}

.progress-step {
    width: 2.1875rem;
    height: 2.1875rem;
    background-color: #dcdcdc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.progressbar::before,
.progress {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  background-color: #dcdcdc;
  z-index: 0;
  
}

.progress-step::before {
    counter-increment: step;
    content: counter(step);
    z-index: 1;
}

.progress-step::after {
    content: attr(data-title);
    position: absolute;
    top: calc(100% + 0.5rem);
    font-size: 0.85rem;
    color: #666;
}

.progress-step-active {
    background-color: var(--primary-color);
    color: black;
    z-index: 1;
}


.progress {
    background-color: var(--primary-color);
    width: 0%;
    transition: 0.3s;
}

@keyframes animate {
    from {
      transform: scale(1, 0);
      opacity: 0;
    }
    to {
      transform: scale(1, 1);
      opacity: 1;
    }
}

.input_uppercase {
    text-transform: uppercase;
}

/* .alert {
    padding: 20px;
    background-color: #f44336; /* Red 
    color: white;
    margin-bottom: 15px;} */